{% extends 'bundles/EasyAdminBundle/crud/detail.html.twig' %}

{% block page_actions %}
    {% if not entity.instance.isDeepImport %}
        <button id="deepImportBtnArtist" class="btn btn-secondary" data-id="{{ entity.instance.id }}">Finally get deep import for artist PLEASE
        </button>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        const artistId = document.querySelector('#deepImportBtnArtist');
        if (artistId) {
            artistId.addEventListener('click', (e) =>
            {
                const el = e.currentTarget;
                const artistId = el.getAttribute('data-id');

                fetch(`${window.origin}/api/deep_import/artist/${artistId}`);
                el.classList.add('d-none');
            });
        }
    </script>
{% endblock %}