{% extends 'bundles/EasyAdminBundle/crud/index.html.twig' %}

{% block page_actions %}
    {{ parent() }}
    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#addArtist">
        <i class="fa fa-user-plus"></i>
        {{ 'add.artist'|trans() }}
    </button>
    {% if entities|length > 0 %}
        <button type="button" class="btn btn-danger ms-2" id="refreshArtistBtn">
            <i class="fa fa-sync"></i>
            {{ 'refresh.artist'|trans() }}
        </button>
        <button type="button" class="btn btn-warning ms-2" id="downloadRefreshBtn">
            <i class="fa fa-download"></i>
            {{ 'download.refresh'|trans() }}
        </button>
    {% endif %}
{% endblock %}

{% block main %}
    {{ parent() }}
    {% set parameters = app.request.session.get('parameters') %}
    <div class="modal fade" id="addArtist" tabindex="-1" aria-labelledby="artistModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="artistModal"><i
                                class="fa fa-user-plus me-2"></i>{{ 'add.artist'|trans() }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="artistId" id="artistId">
                            <label for="artistId">{{ 'artist.id'|trans() }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="downloadPath" placeholder="C:\"
                                   value="{{ parameters.downloadPath }}">
                            <label for="downloadPath">{{ 'download_path'|trans() }}</label>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="alerting"
                                       checked="{{ parameters.alerting }}">
                                <label class="form-check-label" for="alerting">{{ 'alerting'|trans() }}</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" name="bitrate" id="bitrate">
                                {% for bitrateNumber, bitrateHumanized in constant('App\\Entity\\AudioBitrate::AUDIO_BITRATE') %}
                                    <option value="{{ bitrateNumber }}" {{ parameters.bitrate.bitrateNumber == bitrateNumber ? 'selected':'' }}>{{ bitrateHumanized }}</option>
                                {% endfor %}
                            </select>
                            <label for="bitrate">{{ 'audio_bitrate'|trans() }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" name="recordType" id="recordType">
                                {% for recordType, recordTypeHumanized in constant('App\\Entity\\RecordType::RECORD_TYPES') %}
                                    <option value="{{ recordType }}" {{ parameters.recordType.type == recordType ? 'selected':'' }}>{{ recordTypeHumanized }}</option>
                                {% endfor %}
                            </select>
                            <label for="audioBitrate">{{ 'record_type'|trans() }}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            id="confirmAddArtistBtn">{{ 'confirm.add'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script>
        const confirmAddArtistBtn = document.querySelector('#confirmAddArtistBtn');
        const modalCloseBtn = document.querySelector('.btn-close');

        if (confirmAddArtistBtn) {
            confirmAddArtistBtn.addEventListener('click', () => {
                modalCloseBtn.click();
                const artistId = document.querySelector('#artistId').value;
                const downloadPath = document.querySelector('#downloadPath').value;
                const alerting = document.querySelector('#alerting').value;
                const bitrate = document.querySelector('#bitrate').value;
                const recordType = document.querySelector('#recordType').value;
                const data = new FormData();
                data.append('artistId', artistId);
                data.append('downloadPath', downloadPath);
                data.append('alerting', alerting);
                data.append('bitrate', bitrate);
                data.append('recordType', recordType);
                fetch(`${window.origin}/artist/add`, {method: 'POST', body: data});
            });
        }
    </script>
    <script>
        const refreshArtistBtn = document.querySelector('#refreshArtistBtn');
        if (refreshArtistBtn) {
            refreshArtistBtn.addEventListener('click', () => {
                fetch(`${window.origin}\\artist\\refresh`);
            });
        }
        const downloadRefreshBtn = document.querySelector('#downloadRefreshBtn');
        if (downloadRefreshBtn) {
            downloadRefreshBtn.addEventListener('click', () => {
                fetch(`${window.origin}\\api\\start_deemix`);
            });
        }
    </script>
{% endblock %}