{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ ea.i18n.htmlLocale }}" dir="{{ ea.i18n.textDirection }}">
<head>
    {% block head_metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots"
              content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="EasyAdmin"/>
    {% endblock head_metas %}

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-slider.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    {% endblock %}

    {% block configured_stylesheets %}
        {{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea.assets.cssAssets ?? [] }, with_context = false) }}
        {{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
    {% endblock %}

    {% block head_favicon %}
        <link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
    {% endblock %}

    {% block head_javascript %}
        <script src="{{ asset('bundles/easyadmin/app.js') }}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/fr.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    {% endblock head_javascript %}

    {% block configured_javascripts %}
        {{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea.assets.jsAssets ?? [] }, with_context = false) }}
        {{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
    {% endblock %}

    {% if 'rtl' == ea.i18n.textDirection %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.rtl.css') }}">
    {% endif %}

    {% block configured_head_contents %}
        {% for htmlContent in ea.assets.headContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}
    {% endblock %}
</head>

{% block body %}
    <style>
        .quadrat {
            -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Safari 4+ */
            -moz-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Fx 5+ */
            -o-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Opera 12+ */
            animation: NAME-YOUR-ANIMATION 1s infinite;  /* IE 10+, Fx 29+ */
        }

        @-webkit-keyframes NAME-YOUR-ANIMATION {
            0%, 49% {
                background-color: rgba(0, 0, 0, 0.21);
                border: 3px solid #e50000;
            }
            50%, 100% {
                background-color: #e50000;
                border: 3px solid rgb(255, 0, 0);
            }
        }
    </style>
    <body id="{% block body_id %}{% endblock %}" class="ea {% block body_class %}{% endblock %}">
        {% block javascript_page_layout %}
            <script>
                document.body.classList.add(
                    'ea-content-width-' + (localStorage.getItem('ea/content/width') || '{{ ea.crud.contentWidth ?? ea.dashboardContentWidth ?? 'normal' }}'),
                    'ea-sidebar-width-' + (localStorage.getItem('ea/sidebar/width') || '{{ ea.crud.sidebarWidth ?? ea.dashboardSidebarWidth ?? 'normal' }}'),
                );
            </script>
        {% endblock javascript_page_layout %}

        {% block wrapper_wrapper %}
            {% block flash_messages %}
                {{ include(ea.templatePath('flash_messages')) }}
            {% endblock flash_messages %}

            {% set user_menu_avatar %}
                {% if null == ea.userMenu.avatarUrl %}
                    <span class="user-avatar">
                    <span class="fa-stack">
                        <i class="user-avatar-icon-background fas fa-square fa-stack-2x"></i>
                        <i class="user-avatar-icon-foreground {{ ea.user is not null ? 'fa fa-user' : 'fas fa-user-slash' }} fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                {% else %}
                    <img class="user-avatar" src="{{ ea.userMenu.avatarUrl }}"/>
                {% endif %}
            {% endset %}

            {% set impersonator_permission = constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined ? 'IS_IMPERSONATOR' : 'ROLE_PREVIOUS_ADMIN' %}

            {% set user_menu_dropdown %}
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="dropdown-user-details">
                        <div>{{ user_menu_avatar }}</div>
                        <div>
                            <span class="user-label">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>
                            <span class="user-name">{{ ea.user is null ? 'user.anonymous'|trans(domain = 'EasyAdminBundle') : ea.userMenu.name }}</span>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <div>
                            <h5>Langue</h5>
                            <div class="d-flex flex-row justify-content-around">
                                <div data-url="/api/lang/fr"
                                     class="lang-selector {{ app.request.session.get('_locale') == 'fr' ? 'bg-secondary' : '' }} rounded p-1">
                                    <img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg" alt="Français"
                                         width="35" height="25" class="img-fluid"
                                         title="{{ app.request.session.get('_locale') == 'fr' ? 'Current language interface' : 'Set language to FR' }}">
                                </div>
                                <div data-url="/api/lang/en"
                                     class="lang-selector {{ app.request.session.get('_locale') == 'en' ? 'bg-secondary' : '' }} rounded p-1">
                                    <img src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="English"
                                         width="35" height="25"
                                         title="{{ app.request.session.get('_locale') == 'en' ? 'Current language interface' : 'Set language to EN' }}">
                                </div>
                            </div>
                        </div>
                    </li>

                    {% block user_menu %}
                        {% if ea.userMenu.items|length > 0 %}
                            {% for item in ea.userMenu.items %}
                                <li>
                                    {% if item.isMenuSection and not loop.first %}
                                        <hr class="dropdown-divider">
                                    {% elseif not item.isMenuSection %}
                                        <a href="{{ item.linkUrl }}" class="dropdown-item user-action {{ item.cssClass }}"
                                           target="{{ item.linkTarget }}" rel="{{ item.linkRel }}"
                                           referrerpolicy="origin-when-cross-origin">
                                            {% if item.icon is not empty %}<i
                                                class="fa fa-fw {{ item.icon }}"></i>{% endif %}
                                            <span>{{ item.label }}</span>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endblock user_menu %}
                </ul>
            {% endset %}

            <div class="wrapper">
                {% block wrapper %}
                    <div class="responsive-header">
                        {% block responsive_header %}
                            <button id="navigation-toggler" type="button" aria-label="Toggle navigation">
                                <i class="fa fa-fw fa-bars"></i>
                            </button>

                            <div id="responsive-header-logo" class="text-truncate">
                                {% block responsive_header_logo %}
                                    <a class="responsive-logo" title="{{ ea.dashboardTitle|striptags }}"
                                       href="{{ path(ea.dashboardRouteName) }}">
                                        {{ ea.dashboardTitle|raw }}
                                    </a>
                                {% endblock responsive_header_logo %}
                            </div>

                            <div class="dropdown user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}">
                                <a class="user-details" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5"
                                   aria-expanded="false">
                                    {# to make the site design consistent, always display the user avatar in responsive header
                                   and hide the user name (because there's no space left) regardless of the user config #}
                                    {% if ea.userMenu.avatarDisplayed %}
                                        {{ user_menu_avatar }}
                                    {% else %}
                                        <i class="user-avatar fa fa-fw {{ ea.user is not null ? 'fa-user' : 'fa-user-times' }}"></i>
                                    {% endif %}
                                </a>

                                {{ user_menu_dropdown }}
                            </div>
                        {% endblock responsive_header %}
                    </div>

                    <div class="sidebar-wrapper">
                        <aside class="sidebar">
                            {% block sidebar %}
                                <header class="main-header">
                                    {% block header %}
                                        <nav class="navbar" role="navigation">
                                            {% block header_navbar %}
                                                <div id="header-logo">
                                                    {% block header_logo %}
                                                        <a class="logo" title="{{ ea.dashboardTitle|striptags }}"
                                                           href="{{ path(ea.dashboardRouteName) }}">
                                                            <span class="logo-custom">{{ ea.dashboardTitle|raw }}</span>
                                                            <span class="logo-compact"><i class="fas fa-home"></i></span>
                                                        </a>
                                                    {% endblock header_logo %}
                                                </div>
                                            {% endblock header_navbar %}
                                        </nav>
                                    {% endblock header %}
                                </header>

                                {% block main_menu_wrapper %}
                                    {{ include(ea.templatePath('main_menu')) }}
                                {% endblock main_menu_wrapper %}
                                <div class="mt-3">
                                    <span>{{ 'label.last_refresh'|trans }} :</span>
                                    {% if not app.request.session.get('parameters').lastGlobalRefresh %}
                                        <p>{{ 'label.no_refresh_yet'|trans }}</p>
                                    {% else %}
                                        <p>{{ app.request.session.get('parameters').lastGlobalRefresh|date(app.request.session.get('_locale') == 'fr' ? 'd/m/Y \\à H:i:s' : 'Y-m-d \\a\\t h:i:s a') }}</p>
                                    {% endif %}
                                    <span>{{ 'label.last_import'|trans }} :</span>
                                    {% if not app.request.session.get('parameters').lastImport %}
                                        <p>{{ 'label.not_import_yet'|trans }}</p>
                                    {% else %}
                                        <p>{{ app.request.session.get('parameters').lastImport|date(app.request.session.get('_locale') == 'fr' ? 'd/m/Y \\à H:i:s' : 'Y-m-d \\a\\t h:i:s a') }}</p>
                                    {% endif %}
                                </div>
                            {% endblock sidebar %}

                            <div id="sidebar-resizer-handler" class="resizer-handler resizer-handler-left"></div>
                        </aside>
                    </div>

                    <section class="main-content">
                        {% set has_search = ea.crud is not null and ea.crud.isSearchEnabled %}
                        <aside class="content-top {{ has_search ? 'ea-search-enabled' : 'ea-search-disabled' }}">
                            {% block content_top_header %}
                                <div class="content-search">
                                    {% if has_search %}
                                        {% block search %}

                                            <form class="form-action-search" method="get">
                                                {% block search_form %}
                                                    <input type="hidden" name="crudAction" value="index">
                                                    <input type="hidden" name="crudControllerFqcn"
                                                           value="{{ ea.request.query.get('crudControllerFqcn') }}">
                                                    <input type="hidden" name="menuIndex"
                                                           value="{{ ea.request.query.get('menuIndex') }}">
                                                    <input type="hidden" name="submenuIndex"
                                                           value="{{ ea.request.query.get('submenuIndex') }}">
                                                    <input type="hidden" name="page" value="1">
                                                    <input type="hidden" name="signature"
                                                           value="{{ ea_url().unsetAll().setAction('index').setController(ea.request.query.get('crudControllerFqcn')).getSignature() }}">

                                                    <div class="form-group">
                                                        <div class="form-widget">
                                                            <i class="fas fa-search content-search-icon"></i>

                                                            <label class="content-search-label"
                                                                   data-value="{{ app.request.get('query') }}">
                                                                <input class="form-control {{ app.request.get('query') is null ? 'is-blank' }}"
                                                                       type="search" name="query"
                                                                       value="{{ app.request.get('query') ?? '' }}"
                                                                       placeholder="{{ 'action.search'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}"
                                                                       spellcheck="false" autocorrect="false"
                                                                       onInput="this.parentNode.dataset.value=this.value">
                                                            </label>

                                                            {% if app.request.get('query') %}
                                                                <a href="{{ ea_url().unset('query') }}"
                                                                   class="content-search-reset">
                                                                    <i class="fas fa-fw fa-times"></i>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endblock %}
                                            </form>
                                        {% endblock search %}
                                    {% endif %}
                                </div>

                                <div class="navbar-custom-menu">
                                    {% block header_custom_menu %}
                                        <div class="dropdown user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}">
                                            <a class="user-details" type="button" data-bs-toggle="dropdown"
                                               data-bs-offset="0,5" aria-expanded="false">
                                                {{ user_menu_avatar }}
                                                {% if ea.userMenu.isNameDisplayed %}
                                                    <span class="user-name">{{ ea.userMenu.name }}</span>
                                                {% endif %}
                                            </a>

                                            {{ user_menu_dropdown }}
                                        </div>
                                    {% endblock header_custom_menu %}
                                </div>
                            {% endblock content_top_header %}
                        </aside>

                        <div class="content-wrapper">
                            {% block content %}
                                <article class="content">
                                    {% block content_header_wrapper %}
                                        {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
                                        <section class="content-header">
                                            {% block content_header %}
                                                <div class="content-header-title">
                                                    <h1 class="title">
                                                        {% block content_title %}{% endblock %}

                                                        {% block content_help %}
                                                            {% if has_help_message %}
                                                                <span class="content-header-help">
                                                            <i class="far fa-question-circle" data-bs-toggle="tooltip"
                                                               title="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
                                                        </span>
                                                            {% endif %}
                                                        {% endblock %}
                                                    </h1>
                                                </div>

                                                {% block page_actions_wrapper %}
                                                    <div class="page-actions">{% block page_actions %}{% endblock %}</div>
                                                {% endblock %}
                                            {% endblock content_header %}
                                        </section>
                                    {% endblock content_header_wrapper %}

                                    <section id="main" class="content-body">
                                        {% block main %}{% endblock %}
                                    </section>

                                    {% block content_footer_wrapper %}
                                        {% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %}
                                        {% if content_footer is not empty %}
                                            <section class="content-footer">
                                                {{ content_footer }}
                                            </section>
                                        {% endif %}
                                    {% endblock %}
                                </article>
                            {% endblock content %}

                            <div id="content-resizer-handler" class="resizer-handler resizer-handler-right"></div>
                        </div>
                    </section>
                {% endblock wrapper %}
            </div>
        {% endblock wrapper_wrapper %}

        {% block body_javascript %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('assets/js/bootstrap-slider.min.js') }}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>
                const eventMessage = new EventSource(`${window.origin}/.well-known/mercure?topic=` + encodeURIComponent(`http://localhost/`));
                eventMessage.addEventListener('message', (e) =>
                {
                    const data = JSON.parse(e.data);
                    Swal.fire(data);
                });

                const eventGui = new EventSource(`${window.origin}/.well-known/mercure?topic=` + encodeURIComponent(`http://localhost/gui`));
                eventGui.addEventListener('message', (e) =>
                {
                    const data = JSON.parse(e.data);
                    if (data.page.replaceAll('\\', '') === 'AppControllerArtistCrudController') {
                        const mainTable = document.querySelector('#main table tbody');
                        if (mainTable) {

                            if (data.type === 'create') {
                                let tr = document.createElement('tr');
                                tr.setAttribute('data-id', data.data.id);
                                const haveEmptyRow = mainTable.querySelector('.empty-row');
                                if (haveEmptyRow) {
                                    mainTable.innerHTML = '';
                                }
                                tr.innerHTML = `<td class="batch-actions-selector">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input form-batch-checkbox" value="${data.data.id}">
                                </div>
                            </td>

                                                    <td data-label="Is fully downloaded" class=" text-left field-boolean" dir="ltr">

    <span class="badge badge-boolean-${data.data.isFullyDownloaded ? 'true' : 'false'}">
        ${data.data.isFullyDownloaded ? 'Oui' : 'Non'}
    </span>

                            </td>
                                                    <td data-label="Artist Id" class=" text-left field-integer" dir="ltr">
                                ${data.data.artistId}

                            </td>
                                                    <td data-label="Name" class=" text-left field-text" dir="ltr">
                                    <span title="Rimkus">${data.data.name}</span>

                            </td>
                                                    <td data-label="Total albums" class=" text-left field-integer" dir="ltr">
                                ${data.data.totalAlbums}

                            </td>
                                                    <td data-label="Downloaded albums" class=" text-left field-text" dir="ltr">
                                    <span title="0/4">${data.data.downloadedAlbums}</span>

                            </td>
                                                    <td data-label="Download Path" class=" text-left field-text" dir="ltr">
                                    <span title="${data.data.downloadPath}">${data.data.downloadPath}</span>

                            </td>
                                                    <td data-label="Record Type" class=" text-left field-association" dir="ltr">
                                            ${data.data.recordType}

                            </td>
                                                    <td data-label="Bitrate" class=" text-left field-association" dir="ltr">
                                            ${data.data.bitrate}

                            </td>
                                                    <td data-label="Alert" class=" text-left field-boolean has-switch" dir="ltr">

    <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" id="01FFGBZW41WWCM5T2JFV17QTW6" data-toggle-url="http://127.0.0.1:8000/?crudAction=edit&amp;crudControllerFqcn=App%5CController%5CArtistCrudController&amp;entityId=${data.data.id}&amp;fieldName=alert&amp;menuIndex=2&amp;page=4&amp;signature=60l1BGz9HlBxS_hgu7spWhk70YC-hfPXnAxD9K3AAX0&amp;submenuIndex=-1" autocomplete="off" ${data.data.alert ? 'checked' : ''}>
        <label class="form-check-label" for="01FFGBZW41WWCM5T2JFV17QTW6"></label>
    </div>

                            </td>
                                                    <td data-label="Started Monitoring At" class=" text-left field-datetime" dir="ltr">
                                <time datetime="2021-09-13T18:48:40+00:00" title="Mon, 13 Sep 2021 18:48:40 +0000">${data.data.startedMonitoringAt}</time>

                            </td>
                                                    <td data-label="Albums" class=" text-left field-association" dir="ltr">
                                    <span class="badge badge-secondary">${data.data.albums}</span>

                            </td>
                                                    <td data-label="Tracks" class=" text-left field-association" dir="ltr">
                                    <span class="badge badge-secondary">${data.data.tracks}</span>

                            </td>

                                                    <td class="actions actions-as-dropdown">
                                                                                                            <div class="dropdown dropdown-actions">
                                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-dashlane-rid="99769f815553dc46">
                                                                                                                                                <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor; --darkreader-inline-fill:none;" data-darkreader-inline-fill="">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                                </svg>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                                        <a class="dropdown-item action-detail" href="http://127.0.0.1:8000/?crudAction=detail&amp;crudControllerFqcn=App%5CController%5CArtistCrudController&amp;entityId=${data.data.id}&amp;menuIndex=2&amp;referrer=http%3A%2F%2F127.0.0.1%3A8000%2F%3FcrudAction%3Dindex%26crudControllerFqcn%3DApp%255CController%255CArtistCrudController%26menuIndex%3D2%26page%3D4%26signature%3DHOuQgfuE7iYpc6VVvXyfXoh8N_vBWNxbWjtAJ3WG8Nk%26submenuIndex%3D-1&amp;signature=wdfPO-pLfR1mjuz8RZNNTEcAyCScZ8JE7gRDjYNdnU0&amp;submenuIndex=-1" data-action-name="detail">Voir</a>

                                                                                                        <a class="dropdown-item action-edit" href="http://127.0.0.1:8000/?crudAction=edit&amp;crudControllerFqcn=App%5CController%5CArtistCrudController&amp;entityId=${data.data.id}&amp;menuIndex=2&amp;referrer=http%3A%2F%2F127.0.0.1%3A8000%2F%3FcrudAction%3Dindex%26crudControllerFqcn%3DApp%255CController%255CArtistCrudController%26menuIndex%3D2%26page%3D4%26signature%3DHOuQgfuE7iYpc6VVvXyfXoh8N_vBWNxbWjtAJ3WG8Nk%26submenuIndex%3D-1&amp;signature=60l1BGz9HlBxS_hgu7spWhk70YC-hfPXnAxD9K3AAX0&amp;submenuIndex=-1" data-action-name="edit">Éditer</a>

                                                                                                        <a class="dropdown-item action-delete text-danger" href="http://127.0.0.1:8000/?crudAction=delete&amp;crudControllerFqcn=App%5CController%5CArtistCrudController&amp;entityId=${data.data.id}&amp;menuIndex=2&amp;referrer=http%3A%2F%2F127.0.0.1%3A8000%2F%3FcrudAction%3Dindex%26crudControllerFqcn%3DApp%255CController%255CArtistCrudController%26menuIndex%3D2%26page%3D4%26signature%3DHOuQgfuE7iYpc6VVvXyfXoh8N_vBWNxbWjtAJ3WG8Nk%26submenuIndex%3D-1&amp;signature=g29-8E-5e1r5N-YWZZ5YTuN1-Ui5_0yabpYF9vJE6yM&amp;submenuIndex=-1" data-action-name="delete" formaction="http://127.0.0.1:8000/?crudAction=delete&amp;crudControllerFqcn=App%5CController%5CArtistCrudController&amp;entityId=78&amp;menuIndex=2&amp;page=4&amp;signature=g29-8E-5e1r5N-YWZZ5YTuN1-Ui5_0yabpYF9vJE6yM&amp;submenuIndex=-1" data-bs-toggle="modal" data-bs-target="#modal-delete">Supprimer</a>

                                                                                            </div>
                                        </div>
                                                                                                </td>`;
                                mainTable.append(tr);
                            }
                            else if (data.type === 'update') {
                                const row = mainTable.querySelector(`tr[data-id="${data.data.artistId}"]`);
                                const loader = document.createElement('div');
                                loader.innerHTML = '<div class="spinner-border ml-auto text-warning me-2" style="width: 1.75rem;height: 1.75rem;position: absolute;left: 8%;top: 25%;" role="status" aria-hidden="true"></div>';
                                if (row) {
                                    const batchActionSelector = row.querySelector('.batch-actions-selector');
                                    if (data.data.isFullyDownloaded === false && !batchActionSelector.classList.contains('position-relative')) {
                                        batchActionSelector.classList.add('position-relative');
                                        batchActionSelector.appendChild(loader);
                                    }
                                    if (data.data.isFullyDownloaded) {
                                        batchActionSelector.classList.remove('position-relative');
                                        batchActionSelector.removeChild(batchActionSelector.lastElementChild);
                                    }
                                    const isFullyDownloaded = row.querySelector('.isFullyDownloaded span.badge');
                                    isFullyDownloaded.className = `badge badge-boolean-${data.data.isFullyDownloaded ? 'true' : 'false'}`;
                                    isFullyDownloaded.textContent = `${data.data.isFullyDownloaded ? 'Oui' : 'Non'}`;

                                    const fieldVirtualDownloadProgress = row.querySelector('.downloadProgress span');
                                    let current = parseInt(fieldVirtualDownloadProgress.textContent) + 1;
                                    fieldVirtualDownloadProgress.innerHTML = `${current}/${data.data.totalAlbums}`;
                                }
                            }
                            else if (data.type === 'updateAlb') {
                                const spanBadge = document.querySelector(`span[data-id="${data.data.albumId}"]`);
                                if (spanBadge) {
                                    spanBadge.classList.remove('badge-success', 'badge-warning', 'badge-danger');
                                    if (data.data.isDownloaded == 0) {
                                        spanBadge.classList.add('badge-danger');
                                        spanBadge.textContent = '{{ 'label.status.not_downloaded'|trans({}, 'messages') }}';
                                    }
                                    else if (data.data.isDownloaded == 1) {
                                        spanBadge.classList.add('badge-warning');
                                        spanBadge.textContent = '{{ 'label.status.downloading'|trans({}, 'messages') }}';
                                    }
                                    else if (data.data.isDownloaded == 2) ;
                                    {
                                        spanBadge.classList.add('badge-success');
                                        spanBadge.textContent = '{{ 'label.status.downloaded'|trans({}, 'messages') }}';
                                    }
                                }
                            }
                        }
                    }
                });
            </script>
            <script>
                let audioPlayer = new Audio();
                const playBtns = document.querySelectorAll('.play-btn');
                if (playBtns) {
                    playBtns.forEach(btn =>
                    {
                        btn.addEventListener('click', (e) =>
                        {
                            e.stopPropagation();
                            if (btn.querySelector('i').classList.contains('fa-pause')) {
                                audioPlayer.pause();
                                btn.classList.add('paused');
                                btn.querySelector('i').classList.remove('fa-pause', 'fa-spinner');
                                btn.querySelector('i').classList.add('fa-play');
                            }
                            else if (btn.classList.contains('paused')) {
                                audioPlayer.play();
                                btn.classList.remove('paused');
                                btn.querySelector('i').classList.remove('fa-play', 'fa-spinner');
                                btn.querySelector('i').classList.add('fa-pause');
                            }
                            else {

                                playBtns.forEach(btn =>
                                {
                                    btn.querySelector('i').classList.remove('fa-pause', 'fa-spinner');
                                    btn.querySelector('i').classList.add('fa-play');
                                });
                                audioPlayer.src = e.currentTarget.getAttribute('data-url');
                                audioPlayer.onloadstart = () =>
                                {
                                    btn.querySelector('i').classList.remove('fa-play');
                                    btn.querySelector('i').classList.add('fa-spinner');
                                };

                                audioPlayer.onplaying = () =>
                                {
                                    btn.querySelector('i').classList.remove('fa-play', 'fa-spinner');
                                    btn.querySelector('i').classList.add('fa-pause');
                                };
                                audioPlayer.play();
                            }
                        });
                    });
                }
            </script>
            <script>
                const langSelectors = document.querySelectorAll('.lang-selector');
                langSelectors.forEach(ls => ls.addEventListener('click', (e) =>
                {
                    const el = e.currentTarget;
                    const endpoint = el.getAttribute('data-url');
                    fetch(`${window.origin}${endpoint}`).then(() =>
                    {
                        window.location.reload();
                    });
                }));
            </script>
        {% endblock body_javascript %}

        {% block configured_body_contents %}
            {% for htmlContent in ea.assets.bodyContents ?? [] %}
                {{ htmlContent|raw }}
            {% endfor %}
        {% endblock %}
    </body>
{% endblock body %}
</html>