{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}
    <div>{{ ('home.message'|trans({}, 'messages'))|raw }}</div>
    <hr>
    {% set parametersUrl = ea_url()
        .setController('App\\Controller\\ParametersCrudController')
        .setAction('edit')
        .setEntityId(ea.request.session.get('parameters').id) %}
    <div>{{ 'home.prevent.parameters'|trans({}, 'messages') }} <a href="{{ parametersUrl }}">{{ 'label.parameters_page'|trans({}, 'messages') }}</a>
    </div>
    {% set artistUrl = ea_url()
        .setController('App\\Controller\\ArtistCrudController')
        .setAction('index') %}
    <div>{{ 'laziness.message'|trans({}, 'messages') }} <a href="{{ artistUrl }}">{{ 'label.artist_page'|trans({}, 'messages') }}</a></div>
{% endblock %}
