{% block head_stylesheets %}
    {{ parent() }}
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        alertify.alert('Ready!');

        const startProcessBtn = document.querySelector('#startProcessBtn');

        if (startProcessBtn) {
            startProcessBtn.addEventListener('click', () =>
            {
                fetch(`${window.origin}/deemixStartProcess`).then(response => {});
            });
        }


        const eventSource = new EventSource(`${window.origin}/.well-known/mercure?topic=` + encodeURIComponent(`http://localhost/deemix`));
        eventSource.onmessage = event =>
        {
            const res = JSON.parse(event.data);
            console.log(res);
            if (res.albumId) {
                const downloadCheckBox = document.querySelector(`span[data-id="${res.albumId}"]`);
                if (downloadCheckBox) {
                    if (res.status === 'success') {
                        downloadCheckBox.classList.remove('badge-danger', 'badge-success', 'badge-warning', 'badge-info');
                        downloadCheckBox.classList.add('badge-success');
                        downloadCheckBox.textContent = 'Downloaded';
                    }
                    else if (res.status === 'info') {
                        downloadCheckBox.classList.remove('badge-danger', 'badge-success', 'badge-warning', 'badge-info');
                        downloadCheckBox.classList.add('badge-warning');
                        downloadCheckBox.textContent = 'Downloading';
                    }
                    else {
                        downloadCheckBox.classList.remove('badge-danger', 'badge-success', 'badge-warning', 'badge-info');
                        downloadCheckBox.classList.add('badge-info');
                        downloadCheckBox.textContent = 'Error?';
                    }
                }
            }
            Swal.fire({
                toast            : true,
                position         : 'bottom-left',
                backdrop         : false,
                icon             : res.status,
                title            : `${res.title ?? '-'}`,
                text             : `${res.message ?? '-'}`,
                footer           : `${res.footerMessage ?? '-'}`,
                showConfirmButton: res.progress === 'finished',
            });
        };
    </script>
    <script>
        let audioPlayer = new Audio();
        const playBtns = document.querySelectorAll('.play-btn');
        if (playBtns) {
            playBtns.forEach(btn =>
            {
                btn.addEventListener('click', (e) =>
                {
                    e.stopPropagation();
                    if (btn.querySelector('i').classList.contains('fa-pause')) {
                        audioPlayer.pause();
                        btn.classList.add('paused');
                        btn.querySelector('i').classList.remove('fa-pause', 'fa-spinner');
                        btn.querySelector('i').classList.add('fa-play');
                    }
                    else if (btn.classList.contains('paused')) {
                        audioPlayer.play();
                        btn.classList.remove('paused');
                        btn.querySelector('i').classList.remove('fa-play', 'fa-spinner');
                        btn.querySelector('i').classList.add('fa-pause');
                    }
                    else {

                        playBtns.forEach(btn =>
                        {
                            btn.querySelector('i').classList.remove('fa-pause', 'fa-spinner');
                            btn.querySelector('i').classList.add('fa-play');
                        });
                        audioPlayer.src = e.currentTarget.getAttribute('data-url');
                        audioPlayer.onloadstart = () =>
                        {
                            btn.querySelector('i').classList.remove('fa-play');
                            btn.querySelector('i').classList.add('fa-spinner');
                        };

                        audioPlayer.onplaying = () =>
                        {
                            btn.querySelector('i').classList.remove('fa-play', 'fa-spinner');
                            btn.querySelector('i').classList.add('fa-pause');
                        };
                        audioPlayer.play();
                    }
                });
            });
        }
    </script>
{% endblock %}