{% set sortedAlbums = field.value|sort((a, b) => b.releasedAt|date('U') - a.releasedAt|date('U')) %}
{% set albumsGrouped = sortedAlbums|groupAlbumByYear %}
{% for year, yearAlbums in albumsGrouped %}
    <span class="mt-5 rounded bg-secondary d-inline-flex py-2 px-3 h2">{{ year }}</span>
    {% for albumType, albums in yearAlbums %}
        <div class="shadow border border-2 border-light rounded p-3 mt-3 mb-5">
            <span class="mt-5 rounded bg-dark text-white d-inline-flex py-2 px-3 h2">{{ albumType }}{{ albums|length > 1 ? 's' : '' }} ({{ albums|length }})</span>
            {% for album in albums %}
                {% if albumType != 'Single' %}
                    <div class="d-flex my-3" xmlns="http://www.w3.org/1999/html">
                        <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-{{ album.id }}"
                           title="Show cover of {{ album.name }} by {{ album.artist.name }}" style="max-width: 200px">
                            <img src="{{ album.coverUrl }}" class="img-fluid rounded-circle shadow">
                        </a>
                        <div id="ea-lightbox-{{ album.id }}" class="ea-lightbox">
                            <img src="{{ album.coverUrl }}">
                        </div>
                        <div class="ps-3 d-flex flex-column">
                            {% set albumUrl = ea_url()
                                .setController('App\\Controller\\AlbumCrudController')
                                .setAction('detail')
                                .setEntityId(album.id) %}
                            <a class="h5 text-decoration-underline" href="{{ albumUrl }}">
                                <span data-id="{{ album.albumId }}"
                                      class="badge badge-{{ album.isDownloaded ? 'success':'danger' }}">{{ album.isDownloaded ? 'label.status.downloaded'|trans({}, 'messages') : 'label.status.not_downloaded'|trans({}, 'messages') }}</span>
                                {{ album.contributors|join(', ')|default(album.artist.name) }}
                                - {{ album.name }} {{ album.isExplicit ? ' (Explicit)' : '' }}
                            </a>
                            <p class="m-0 h5">{{ album.nbTracks|default(album.tracks|length) }} {{ 'label.track'|trans({}, 'messages') }}{{ album.tracks|length > 1 ? 's':'' }}</p>
                            <p class="m-0">{{ album.genres|join(', ')|default('label.genres_not_provided'|trans({}, 'messages')) }}</p>
                            <p class="m-0">{{ album.durationFormatted|default('label.duration_not_provided'|trans({}, 'messages')) }}</p>
                            <p class="m-0">{{ album.releasedAt|date(app.request.session.get('_locale') == 'fr' ? 'd/m/Y' : 'Y-m-d')|default('label.release_date_not_provided'|trans({}, 'messages')) }}
                                <strong>{{ album.isReleased ? '' : '(' ~ 'label.not_released_yet'|trans({}, 'messages') ~ ')' }}</strong>
                            </p>
                            <div class="mt-auto mb-1">
                                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                                        data-bs-target="#album-trackslist-{{ album.id }}">
                                    {{ 'label.show_trackslist'|trans({}, 'messages') }}
                                </button>
                                {% if not album.isDownloaded %}
                                    <div class="btn btn-secondary downloadBtn"
                                         data-album-id="{{ album.albumId }}">{{ 'label.download'|trans({}, 'messages') }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="album-trackslist-{{ album.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        <div class="d-block w-100">
                                            <span data-id="{{ album.albumId }}"
                                                  class="badge badge-{{ album.isDownloaded ? 'success':'danger' }}">{{ album.isDownloaded ? 'label.status.downloaded'|trans({}, 'messages') : 'label.status.not_downloaded'|trans({}, 'messages') }}</span>
                                        </div>
                                        {{ album.contributors|join(', ')|default(album.artist.name) }}
                                        - {{ album.name }} {{ 'label.tracks'|trans({}, 'messages') }}
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    {% for track in album.tracks %}
                                        <div class="d-block my-2">
                                            <div class="d-flex">
                                                <div class="h4 badge badge-info rounded me-2 pointer-event play-btn" style="cursor: pointer;"
                                                     data-url="{{ track.previewUrl }}" title="Listen {{ track.title }}"><i
                                                            class="fas fa-play p-1"></i>
                                                </div>
                                                <div class="h4 ms-1 me-2">{{ track.trackPosition }}.</div>
                                                <div class="h4">{{ album.contributors|join(', ')|default(album.artist.name) }} - {{ track.title }}
                                                                                                                               ({{ track.duration|date('i:s') }})
                                                                                                                               | {{ track.releasedAt|date(app.request.session.get('_locale') == 'fr' ? 'd/m/Y' : 'Y-m-d') }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'label.close'|trans({}, 'messages') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex my-3" xmlns="http://www.w3.org/1999/html">
                        <div class="d-flex flex-row">
                            <div class="position-relative">
                                <div style="background: url('{{ album.coverUrl }}'); height: 200px; width: 200px; background-size: cover; cursor:zoom-in;"
                                     class="rounded-circle ea-lightbox-thumbnail shadow"
                                     data-ea-lightbox-content-selector="#ea-lightbox-{{ album.id }}">
                                    <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
                                         title="Show cover of {{ album.name }} by {{ album.artist.name }}">
                                        <div class="play-btn p-4 rounded-circle" data-url="{{ album.tracks[0].previewUrl }}"
                                             title="Listen {{ album.name }}"
                                             style="cursor: pointer; background-color: rgba(17,36,68,0.8);">
                                            <i class="fa fa-play" style="font-size: 2.5rem; color: rgba(255,255,255,0.85);"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="ea-lightbox-{{ album.id }}" class="ea-lightbox">
                                    <img src="{{ album.coverUrl }}">
                                </div>
                            </div>
                            <div class="ps-3 d-flex flex-column">
                                {% set albumUrl = ea_url()
                                    .setController('App\\Controller\\AlbumCrudController')
                                    .setAction('detail')
                                    .setEntityId(album.id) %}
                                <a class="h5 text-decoration-underline" href="{{ albumUrl }}">
                                    <span data-id="{{ album.albumId }}"
                                          class="badge badge-{{ album.isDownloaded ? 'success':'danger' }}">{{ album.isDownloaded ? 'label.status.downloaded'|trans({}, 'messages') : 'label.status.not_downloaded'|trans({}, 'messages') }}</span>
                                    {{ album.contributors|join(', ')|default(album.artist.name) }}
                                    - {{ album.name }} {{ album.isExplicit ? ' (Explicit)' : '' }}
                                </a>
                                <p class="m-0">{{ album.genres|join(', ')|default('label.genres_not_provided'|trans({}, 'messages')) }}</p>
                                <p class="m-0">{{ album.durationFormatted|default('label.duration_not_provided'|trans({}, 'messages')) }}</p>
                                <p class="m-0">{{ album.releasedAt|date(app.request.session.get('_locale') == 'fr' ? 'd/m/Y' : 'Y-m-d')|default('label.release_date_not_provided'|trans({}, 'messages')) }}
                                    <strong>{{ album.isReleased ? '' : '(' ~ 'label.not_released_yet'|trans({}, 'messages') ~ ')' }}</strong>
                                </p>
                                {% if not album.isDownloaded %}
                                    <div class="mt-auto">
                                        <div class="btn btn-secondary downloadBtn"
                                             data-album-id="{{ album.albumId }}">{{ 'label.download'|trans({}, 'messages') }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if not loop.last %}
                    <hr class="my-4">
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}

{% block body_javascript %}
    <script>
        const downloadBtns = document.querySelectorAll('.downloadBtn');
        downloadBtns.forEach(btn => btn.addEventListener('click', (e) =>
        {
            const el = e.currentTarget;
            el.classList.add('d-none');
            const albumId = el.getAttribute('data-album-id');
            fetch(`${window.origin}\\api\\start_deemix\\single_download?albumId=${albumId}`);
        }));
    </script>
{% endblock %}