{% set trackInMultipleAlbums = field.value|getTracksAlbums %}
{% set tracksGroupedByYear = field.value|groupTracksByYear %}
<h2>Tracks ({{ field.value|length }})</h2>
<div class="accordion" id="tracks">
    {% for year, yearTracks in tracksGroupedByYear %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ year }}" aria-expanded="true">
                    {{ year }} ({{ yearTracks|length }} {{ 'label.track'|trans({}, 'messages') }}{{ yearTracks|length > 1 ? 's':'' }})
                </button>
            </h2>
            <div id="collapse-{{ year }}" class="accordion-collapse collapse {{ loop.first ? 'show':'' }}" aria-labelledby="headingOne"
                 data-bs-parent="#tracks">
                <div class="accordion-body">
                    {% for track in yearTracks %}
                        <div class="d-flex my-3" xmlns="http://www.w3.org/1999/html">
                            <div class="d-flex flex-row">
                                <div class="position-relative">
                                    <div style="background: url('{{ track.album[0].coverUrl }}'); height: 200px; width: 200px; background-size: cover; cursor:zoom-in;"
                                         class="rounded ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-{{ track.id }}-track">
                                        <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
                                             title="Show cover of {{ track.album[0].name }} by {{ track.artist.name }}">
                                            <div class="play-btn p-4 rounded-circle" data-url="{{ track.previewUrl }}"
                                                 title="Listen {{ track.title }}"
                                                 style="cursor: pointer; background-color: rgba(17,36,68,0.8);">
                                                <i class="fa fa-play" style="font-size: 2.5rem; rgba(255,255,255,0.85);"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ea-lightbox-{{ track.id }}-track" class="ea-lightbox">
                                        <img src="{{ track.album[0].coverUrl }}">
                                    </div>
                                </div>
                                <div class="ps-3 d-flex flex-column">
                                    {% set trackUrl = ea_url()
                                        .setController('App\\Controller\\TrackCrudController')
                                        .setAction('detail')
                                        .setEntityId(track.id) %}
                                    <a class="h4 text-decoration-underline"
                                       href="{{ trackUrl }}">{{ track.album[0].contributors|join(', ')|default(track.album[0].artist.name) }}
                                        - {{ track.title }}</a>
                                    <p class="m-0">{{ trackInMultipleAlbums[track.isrc]|length > 1 ? 'label.included_in_albums'|trans({}, 'messages') : 'label.included_in_album'|trans({}, 'messages') }}
                                        {% for duplicateTrackInfo in trackInMultipleAlbums[track.isrc] %}
                                            {% set albumUrl = ea_url()
                                                .setController('App\\Controller\\AlbumCrudController')
                                                .setAction('detail')
                                                .setEntityId(duplicateTrackInfo.id) %}
                                            <strong>
                                            <a href="{{ albumUrl }}"
                                               title="Voir les info de l'album {{ duplicateTrackInfo.name }}">{{ duplicateTrackInfo.name }}</a>
                                            </strong>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p class="m-0">{{ track.album[0].genres|join(', ')|default('label.genres_not_provided'|trans({}, 'messages')) }}</p>
                                    <p class="m-0">{{ track.durationFormatted|default('label.duration_not_provided'|trans({}, 'messages')) }}</p>
                                    <p class="m-0">{{ track.releasedAt|date(app.request.session.get('_locale') == 'fr' ? 'd/m/Y' : 'Y-m-d')|default('label.release_date_not_provided'|trans({}, 'messages')) }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>