{% extends 'bundles/EasyAdminBundle/layout.html.twig' %}

{% block body_class %}ea-content-width-full{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pt-5 pb-3">
                <label for="yearSlider">Filter by year:</label>
                <b class="me-3">1900 </b>
                <input id="yearSlider" type="text" class="span2" value="" data-slider-min="1900" data-slider-max="2021"
                       data-slider-step="1" data-slider-value="[2000,2021]" style="width: 50% !important;"/>
                <b class="ms-3">2021</b>
                <input type="button" id="refreshAlbumChart" class="btn btn-primary" value="Refresh">
            </div>
            <div class="tab col-md-12 p-2 my-3">
                <h3>Album released by date</h3>
                <canvas id="albumReleasedByDateChart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const slider = new Slider('#yearSlider', {
            tooltip: 'always',
        });
        const refreshChartBtn = document.querySelector('#refreshAlbumChart');
        refreshChartBtn.addEventListener('click', () =>
        {
            const yearValues = document.querySelector('#yearSlider').value.split(',');
            executeRequest(yearValues[0], yearValues[1]);
        });
        const setChartData = (ctx, label, columns, columnsData) =>
        {
            const data = {
                labels  : columns,
                datasets: [
                    {
                        label          : label,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)',
                        ],
                        borderColor    : [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                        ],
                        borderWidth    : 1,
                        data           : columnsData,
                    },
                ],
            };
            const config = {
                type   : 'bar',
                data   : data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                },
            };
            return new Chart(ctx, config);
        };

        const albumCtx = document.getElementById('albumReleasedByDateChart').getContext('2d');

        let canvasAlbum = null;

        const executeRequest = (yearStart = 2000, yearEnd = 2021) =>
        {
            fetch(`${window.origin}/stats/albums/${yearStart}/${yearEnd}`).then(res => res.json()).then(res =>
            {
                if (canvasAlbum !== null) {
                    canvasAlbum.destroy();
                }
                canvasAlbum = setChartData(albumCtx, 'Number of downloaded artists', res.map(a => a.released_at), res.map(a => a.total));
            });
        };
        executeRequest();
    </script>
{% endblock %}