{% extends 'bundles/EasyAdminBundle/layout.html.twig' %}

{% block body_class %}ea-content-width-full{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>Auto refresh each 30 seconds <span id="remainingTimeNextRefresh"></span></p>
            </div>
            <div class="col-md-12">
                <div>Date</div>
                <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="tab col-md-6 p-2 my-3">
                <h3>Artists added</h3>
                <div class="bg-dark w-100 h-100 d-flex justify-content-center align-content-center align-items-center rounded">
                    <div class="spinner-border position-absolute" style="width: 5rem; height: 5rem;" role="status"></div>
                    <canvas id="artistMonitoringCharts"></canvas>
                </div>
            </div>
            <div class="tab col-md-6 p-2 my-3">
                <h3>Albums added</h3>
                <div class="bg-dark w-100 h-100 d-flex justify-content-center align-content-center align-items-center rounded">
                    <div class="spinner-border position-absolute" style="width: 5rem; height: 5rem;" role="status"></div>
                    <canvas id="albumMonitoringCharts"></canvas>
                </div>
            </div>
            <div class="tab col-md-6 offset-md-3 p-2 my-3 {{ app.session.get('parameters').deepDataGrap.id ? 'd-none':'' }}">
                <h3>Tracks added</h3>
                <div class="bg-dark w-100 h-100 d-flex justify-content-center align-content-center align-items-center rounded">
                    <div class="spinner-border position-absolute" style="width: 5rem; height: 5rem;" role="status"></div>
                    <canvas id="trackMonitoringCharts"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(function ()
        {
            moment.locale('{{ app.request.locale }}');
            var start = moment().second(0).minute(0).hour(0);
            var end = moment();

            function cb(start, end)
            {
                $('#reportrange span').html(start.format('D MMMM YYYY') + ' - ' + end.format('D MMMM YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate          : start,
                endDate            : end,
                timePicker         : true,
                linkedCalendars    : false,
                ranges             : {
                    'Last hour'    : [moment().subtract(1, 'h'), moment().add(30, 'm')],
                    'Last 3 hours' : [moment().subtract(3, 'h'), moment().add(30, 'm')],
                    'Last 6 hours' : [moment().subtract(6, 'h'), moment().add(30, 'm')],
                    'Last 12 hours': [moment().subtract(12, 'h'), moment().add(30, 'm')],
                    'Today'        : [moment().second(0).minute(0).hour(0), moment().add(30, 'm')],
                    'Yesterday'    : [moment().subtract(1, 'days').second(0).minute(0).hour(0), moment().subtract(1, 'days').second(59).minute(59).hour(23)],
                    'Last 7 Days'  : [moment().subtract(6, 'days'), moment().add(30, 'm')],
                    'Last 30 Days' : [moment().subtract(29, 'days'), moment().add(30, 'm')],
                    'This Month'   : [moment().startOf('month'), moment().endOf('month')],
                    'Last Month'   : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                },
                maxDate            : moment().hours(24).minutes(60).seconds(60),
                minYear            : 1900,
                timePickerIncrement: 5,
                timePicker24Hour   : true,
                locale             : {
                    format: 'Y-MM-DD hh:mm',
                },
            }, cb);

            cb(start, end);

        });
        $('#reportrange').on('apply.daterangepicker', function (ev, picker)
        {
            getChartData(picker.startDate.format('YYYY-MM-DD HH:mm:ss'), picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
        });

        const artistMonitoring = document.getElementById('artistMonitoringCharts');
        const artistMonitoringCtx = document.getElementById('artistMonitoringCharts').getContext('2d');
        const albumMonitoring = document.getElementById('albumMonitoringCharts');
        const albumMonitoringCtx = document.getElementById('albumMonitoringCharts').getContext('2d');
        const trackMonitoring = document.getElementById('trackMonitoringCharts');
        const trackMonitoringCtx = document.getElementById('trackMonitoringCharts').getContext('2d');
        const spinners = document.querySelectorAll('.spinner-border');

        let canvasArtist = null;
        let canvasAlbum = null;
        let canvasTrack = null;

        let defStartDate = moment().subtract(1, 'hours').format('Y-MM-DD HH:mm:ss');
        let defEndDate = moment().add(60, 'm').format('Y-MM-DD HH:mm:ss');

        const initiateCanvas = (ctx, canvasTitle, canvasLabels, canvasData) =>
        {
            const data = {
                labels  : canvasLabels,
                datasets: [
                    {
                        label          : canvasTitle,
                        data           : canvasData,
                        backgroundColor: ['red', 'blue', 'green', 'blue', 'red', 'blue'],
                        borderWidth    : 1,
                    },
                ],
            };
            const config = {
                type   : 'bar',
                data   : data,
                options: {
                    y: {
                        beginAtZero: true,
                    },
                },
            };
            return new Chart(ctx, config);
        };

        const updateCanvas = (canvas, data) =>
        {
            canvas.data.datasets[0].data = data;
            canvas.update();
        };

        const getChartData = (startDate = null, endDate = null, isUpdate = false) =>
        {
            if (isUpdate && defEndDate < moment()) {
                defEndDate = moment().add(30, 'minutes');
                getChartData(startDate, endDate);
                return;
            }
            let query = '';
            if (startDate && endDate) {
                defStartDate = startDate;
                defEndDate = endDate;
                query = encodeURI(`?startDate=${startDate}&endDate=${endDate}`);
            }
            else {
                query = encodeURI(`?startDate=${defStartDate}&endDate=${defEndDate}`);
            }

            if (!isUpdate) setIsLoading(true);
            fetch(`${window.origin}/api/stats/download${query}`).then(res => res.json()).then(res =>
            {
                const artists = Object.values(res.artist);
                const albums = Object.values(res.album);
                const tracks = Object.values(res.track);
                if (isUpdate) {
                    updateCanvas(canvasArtist, artists.map(a => a.total));
                    updateCanvas(canvasAlbum, albums.map(a => a.total));
                }
                else {
                    if (canvasAlbum && canvasArtist && canvasTrack) {
                        canvasAlbum.destroy();
                        canvasArtist.destroy();
                        canvasTrack.destroy();
                    }
                    canvasArtist = initiateCanvas(artistMonitoringCtx, 'artists', artists.map(a => a.showValue), artists.map(a => a.total));
                    canvasAlbum = initiateCanvas(albumMonitoringCtx, 'albums', albums.map(a => a.showValue), albums.map(a => a.total));
                    canvasTrack = initiateCanvas(trackMonitoringCtx, 'tracks', tracks.map(a => a.showValue), tracks.map(a => a.total));
                }
                if (!isUpdate) setIsLoading(false);
            });

        };

        const setIsLoading = (isLoading) =>
        {
            console.log(isLoading);
            spinners.forEach(s => isLoading ? s.classList.remove('d-none') : s.classList.add('d-none'));
            isLoading ? artistMonitoring.classList.add('opacity-0') : artistMonitoring.classList.remove('opacity-0');
            isLoading ? albumMonitoring.classList.add('opacity-0') : albumMonitoring.classList.remove('opacity-0');
            isLoading ? trackMonitoring.classList.add('opacity-0') : trackMonitoring.classList.remove('opacity-0');
        };

        getChartData();

        const remainingTime = document.querySelector('#remainingTimeNextRefresh');
        let remainingTimeSec = 5;
        setInterval(() =>
        {
            remainingTime.textContent = `[${remainingTimeSec}sec${remainingTimeSec > 1 ? 's' : ''} remaining for next refresh]`;
            if (remainingTimeSec-- === 0) {
                remainingTimeSec = 5;
                getChartData(null, null, true);
            }
        }, 1000);
    </script>
{% endblock %}