{% set isoCode = {
    "ad": "Andorre",
    "ae": "Émirats arabes unis",
    "af": "Afghanistan",
    "ag": "Antigua-et-Barbuda",
    "ai": "Anguilla",
    "al": "Albanie",
    "am": "Arménie",
    "ao": "Angola",
    "aq": "Antarctique",
    "ar": "Argentine",
    "as": "Samoa américaines",
    "at": "Autriche",
    "au": "Australie",
    "aw": "Aruba",
    "ax": "Åland",
    "az": "Azerbaïdjan",
    "ba": "Bosnie-Herzégovine",
    "bb": "Barbade",
    "bd": "Bangladesh",
    "be": "Belgique",
    "bf": "Burkina Faso",
    "bg": "Bulgarie",
    "bh": "Bahreïn",
    "bi": "Burundi",
    "bj": "Bénin",
    "bl": "Saint-Barthélemy",
    "bm": "Bermudes",
    "bn": "Brunei",
    "bo": "Bolivie",
    "bq": "Pays-Bas caribéens",
    "br": "Brésil",
    "bs": "Bahamas",
    "bt": "Bhoutan",
    "bv": "Île Bouvet",
    "bw": "Botswana",
    "by": "Biélorussie",
    "bz": "Belize",
    "ca": "Canada",
    "cc": "Îles Cocos",
    "cd": "Congo (Rép. dém.)",
    "cf": "République centrafricaine",
    "cg": "Congo",
    "ch": "Suisse",
    "ci": "Côte d\'Ivoire",
    "ck": "Îles Cook",
    "cl": "Chili",
    "cm": "Cameroun",
    "cn": "Chine",
    "co": "Colombie",
    "cr": "Costa Rica",
    "cu": "Cuba",
    "cv": "Cap-Vert",
    "cw": "Curaçao",
    "cx": "Île Christmas",
    "cy": "Chypre",
    "cz": "Tchéquie",
    "de": "Allemagne",
    "dj": "Djibouti",
    "dk": "Danemark",
    "dm": "Dominique",
    "do": "République dominicaine",
    "dz": "Algérie",
    "ec": "Équateur",
    "ee": "Estonie",
    "eg": "Égypte",
    "eh": "Sahara Occidental",
    "er": "Érythrée",
    "es": "Espagne",
    "et": "Éthiopie",
    "eu": "Union européenne",
    "fi": "Finlande",
    "fj": "Fidji",
    "fk": "Îles Malouines",
    "fm": "Micronésie",
    "fo": "Îles Féroé",
    "fr": "France",
    "ga": "Gabon",
    "gb": "Royaume-Uni",
    "gb-eng": "Angleterre",
    "gb-nir": "Irlande du Nord",
    "gb-sct": "Écosse",
    "gb-wls": "Pays de Galles",
    "gd": "Grenade",
    "ge": "Géorgie",
    "gf": "Guyane",
    "gg": "Guernesey",
    "gh": "Ghana",
    "gi": "Gibraltar",
    "gl": "Groenland",
    "gm": "Gambie",
    "gn": "Guinée",
    "gp": "Guadeloupe",
    "gq": "Guinée équatoriale",
    "gr": "Grèce",
    "gs": "Géorgie du Sud-et-les Îles Sandwich du Sud",
    "gt": "Guatemala",
    "gu": "Guam",
    "gw": "Guinée-Bissau",
    "gy": "Guyana",
    "hk": "Hong Kong",
    "hm": "Îles Heard-et-MacDonald",
    "hn": "Honduras",
    "hr": "Croatie",
    "ht": "Haïti",
    "hu": "Hongrie",
    "id": "Indonésie",
    "ie": "Irlande",
    "il": "Israël",
    "im": "Île de Man",
    "in": "Inde",
    "io": "Territoire britannique de l\'océan Indien",
    "iq": "Irak",
    "ir": "Iran",
    "is": "Islande",
    "it": "Italie",
    "je": "Jersey",
    "jm": "Jamaïque",
    "jo": "Jordanie",
    "jp": "Japon",
    "ke": "Kenya",
    "kg": "Kirghizistan",
    "kh": "Cambodge",
    "ki": "Kiribati",
    "km": "Comores",
    "kn": "Saint-Christophe-et-Niévès",
    "kp": "Corée du Nord",
    "kr": "Corée du Sud",
    "kw": "Koweït",
    "ky": "Îles Caïmans",
    "kz": "Kazakhstan",
    "la": "Laos",
    "lb": "Liban",
    "lc": "Sainte-Lucie",
    "li": "Liechtenstein",
    "lk": "Sri Lanka",
    "lr": "Liberia",
    "ls": "Lesotho",
    "lt": "Lituanie",
    "lu": "Luxembourg",
    "lv": "Lettonie",
    "ly": "Libye",
    "ma": "Maroc",
    "mc": "Monaco",
    "md": "Moldavie",
    "me": "Monténégro",
    "mf": "Saint-Martin (Antilles françaises)",
    "mg": "Madagascar",
    "mh": "Îles Marshall",
    "mk": "Macédoine du Nord",
    "ml": "Mali",
    "mm": "Birmanie",
    "mn": "Mongolie",
    "mo": "Macao",
    "mp": "Îles Mariannes du Nord",
    "mq": "Martinique",
    "mr": "Mauritanie",
    "ms": "Montserrat",
    "mt": "Malte",
    "mu": "Maurice",
    "mv": "Maldives",
    "mw": "Malawi",
    "mx": "Mexique",
    "my": "Malaisie",
    "mz": "Mozambique",
    "na": "Namibie",
    "nc": "Nouvelle-Calédonie",
    "ne": "Niger",
    "nf": "Île Norfolk",
    "ng": "Nigeria",
    "ni": "Nicaragua",
    "nl": "Pays-Bas",
    "no": "Norvège",
    "np": "Népal",
    "nr": "Nauru",
    "nu": "Niue",
    "nz": "Nouvelle-Zélande",
    "om": "Oman",
    "pa": "Panama",
    "pe": "Pérou",
    "pf": "Polynésie française",
    "pg": "Papouasie-Nouvelle-Guinée",
    "ph": "Philippines",
    "pk": "Pakistan",
    "pl": "Pologne",
    "pm": "Saint-Pierre-et-Miquelon",
    "pn": "Îles Pitcairn",
    "pr": "Porto Rico",
    "ps": "Palestine",
    "pt": "Portugal",
    "pw": "Palaos",
    "py": "Paraguay",
    "qa": "Qatar",
    "re": "Réunion",
    "ro": "Roumanie",
    "rs": "Serbie",
    "ru": "Russie",
    "rw": "Rwanda",
    "sa": "Arabie saoudite",
    "sb": "Îles Salomon",
    "sc": "Seychelles",
    "sd": "Soudan",
    "se": "Suède",
    "sg": "Singapour",
    "sh": "Sainte-Hélène, Ascension et Tristan da Cunha",
    "si": "Slovénie",
    "sj": "Svalbard et Jan Mayen",
    "sk": "Slovaquie",
    "sl": "Sierra Leone",
    "sm": "Saint-Marin",
    "sn": "Sénégal",
    "so": "Somalie",
    "sr": "Suriname",
    "ss": "Soudan du Sud",
    "st": "Sao Tomé-et-Principe",
    "sv": "Salvador",
    "sx": "Saint-Martin (royaume des Pays-Bas)",
    "sy": "Syrie",
    "sz": "Swaziland",
    "tc": "Îles Turques-et-Caïques",
    "td": "Tchad",
    "tf": "Terres australes et antarctiques françaises",
    "tg": "Togo",
    "th": "Thaïlande",
    "tj": "Tadjikistan",
    "tk": "Tokelau",
    "tl": "Timor oriental",
    "tm": "Turkménistan",
    "tn": "Tunisie",
    "to": "Tonga",
    "tr": "Turquie",
    "tt": "Trinité-et-Tobago",
    "tv": "Tuvalu",
    "tw": "Taïwan",
    "tz": "Tanzanie",
    "ua": "Ukraine",
    "ug": "Ouganda",
    "um": "Îles mineures éloignées des États-Unis",
    "un": "Organisation des Nations unies",
    "us": "États-Unis",
    "us-ak": "Alaska",
    "us-al": "Alabama",
    "us-ar": "Arkansas",
    "us-az": "Arizona",
    "us-ca": "Californie",
    "us-co": "Colorado",
    "us-ct": "Connecticut",
    "us-de": "Delaware",
    "us-fl": "Floride",
    "us-ga": "Géorgie",
    "us-hi": "Hawaï",
    "us-ia": "Iowa",
    "us-id": "Idaho",
    "us-il": "Illinois",
    "us-in": "Indiana",
    "us-ks": "Kansas",
    "us-ky": "Kentucky",
    "us-la": "Louisiane",
    "us-ma": "Massachusetts",
    "us-md": "Maryland",
    "us-me": "Maine",
    "us-mi": "Michigan",
    "us-mn": "Minnesota",
    "us-mo": "Missouri",
    "us-ms": "Mississippi",
    "us-mt": "Montana",
    "us-nc": "Caroline du Nord",
    "us-nd": "Dakota du Nord",
    "us-ne": "Nebraska",
    "us-nh": "New Hampshire",
    "us-nj": "New Jersey",
    "us-nm": "Nouveau-Mexique",
    "us-nv": "Nevada",
    "us-ny": "New York",
    "us-oh": "Ohio",
    "us-ok": "Oklahoma",
    "us-or": "Oregon",
    "us-pa": "Pennsylvanie",
    "us-ri": "Rhode Island",
    "us-sc": "Caroline du Sud",
    "us-sd": "Dakota du Sud",
    "us-tn": "Tennessee",
    "us-tx": "Texas",
    "us-ut": "Utah",
    "us-va": "Virginie",
    "us-vt": "Vermont",
    "us-wa": "Washington",
    "us-wi": "Wisconsin",
    "us-wv": "Virginie-Occidentale",
    "us-wy": "Wyoming",
    "uy": "Uruguay",
    "uz": "Ouzbékistan",
    "va": "Vatican",
    "vc": "Saint-Vincent-et-les-Grenadines",
    "ve": "Venezuela",
    "vg": "Îles Vierges britanniques",
    "vi": "Îles Vierges des États-Unis",
    "vn": "Viêt Nam",
    "vu": "Vanuatu",
    "wf": "Wallis-et-Futuna",
    "ws": "Samoa",
    "xk": "Kosovo",
    "ye": "Yémen",
    "yt": "Mayotte",
    "za": "Afrique du Sud",
    "zm": "Zambie",
    "zw": "Zimbabwe"
} %}
{% if field.value %}
    {% for countryIso in field.value %}
        <img
                data-ea-lightbox-content-selector="#ea-lightbox-{{ countryIso }}"
                src="https://flagcdn.com/36x27/{{ countryIso|lower }}.png"
                srcset="https://flagcdn.com/72x54/{{ countryIso|lower }}.png 2x,
    https://flagcdn.com/108x81/{{ countryIso|lower }}.png 3x"
                width="36"
                height="27"
                class="m-1 p-1 border rounded border-2 ea-lightbox-thumbnail"
                alt="{{ isoCode[countryIso|lower] }}"
                title="{{ isoCode[countryIso|lower] }}"
        >
        <div id="ea-lightbox-{{ countryIso }}" class="ea-lightbox">
            <div>Flag of {{ isoCode[countryIso|lower] }}</div>
            <img src="https://flagcdn.com/256x192/{{ countryIso|lower }}.png">
        </div>
    {% endfor %}
{% else %}
    <span class="badge badge-danger">Not provided</span>
{% endif %}
