{% if field.value == 0 %}
    <span data-id="{{ entity.instance.albumId }}" class="badge badge-danger">{{ 'label.status.not_downloaded'|trans }}</span>
{% elseif field.value == 1 %}
    <span data-id="{{ entity.instance.albumId }}" class="badge badge-warning">{{ 'label.status.downloading'|trans }}</span>
{% elseif field.value == 2 %}
    <span data-id="{{ entity.instance.albumId }}" class="badge badge-success">{{ 'label.status.downloaded'|trans }}</span>
{% elseif field.value == 3 %}
    <span data-id="{{ entity.instance.albumId }}" class="badge quadrat">{{ 'label.status.failed_download'|trans }}</span>
{% endif %}
