{% extends 'bundles/EasyAdminBundle/layout.html.twig' %}

{% block body_class %}ea-content-width-full{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 my-2">
                    <label for="searchQuery">{{ 'label.search'|trans }} :</label>
                    <input type="text" class="form-control" id="searchQuery" placeholder="{{ 'input.placeholder.search'|trans }}">
                </div>
                <div class="col-md-2 my-2">
                    <label for="searchType">{{ 'label.search.filter'|trans }}</label>
                    <select class="form-select" id="searchType">
                        <option value="artist">{{ 'artist'|trans }}</option>
                        <option value="playlist">{{ 'playlist'|trans }}</option>
                        {# <option value="album">Album</option>
                        <option value="track">Track</option> #}
                    </select>
                </div>
                <div class="col-md-12 my-2">
                    <input type="button" class="btn btn-primary d-flex" id="searchBtn" value="{{ 'label.search'|trans }}"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" id="result">
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        const resultContainer = document.querySelector('#result');
        const searchQueryEl = document.querySelector('#searchQuery');
        const searchTypeEl = document.querySelector('#searchType');
        const searchBtnEl = document.querySelector('#searchBtn');

        let searchQuery = '';
        let searchType = 'artist';

        const loading = document.createElement('div');
        loading.className = 'mx-auto spinner-border spinner-border-lg';
        //loading.style.background = 'url("{{ asset('assets/img/loading.gif') }}") no-repeat';
        loading.style.height = '10rem';
        loading.style.width = '10rem';

        const search = () =>
        {
            resultContainer.innerHTML = '';
            resultContainer.append(loading);
            fetch(`${window.origin}/deezer/api/search?query=${searchQuery}&type=${searchType}`)
                .then(response => response.json())
                .then(json =>
                {
                    if (json !== undefined) {
                        if (json.length) {
                            showResult(json);
                        }
                        else {
                            resultContainer.innerHTML = '<h1>No result found</h1>';
                        }
                    }
                    else {
                        alert('API error please retry or reload page!');
                    }
                });
        };

        const showResult = (result) =>
        {
            resultContainer.innerHTML = '';
            result.forEach(r =>
            {
                const div = document.createElement('div');
                div.className = 'col-xxl-2 col-xl-3 col-lg-3 col-lg-4 col-sm-6 col-12';
                if (r.type === 'track') {
                    div.innerHTML = `
                                        <div class="myCard h-100">
                                            <div class="card m-2">
                                                <img src="http://cdn-images.dzcdn.net/images/cover/${r.md5_image}/250x250-000000-80-0-0.jpg" class="card-img-top">
                                                <div class="card-body">
                                                    <h5>${r.artist.name} - ${r.title} <span class="badge badge-${r.explicit_lyrics ? 'danger' : ''}">${r.explicit_lyrics ? 'EXPLICIT' : 'NO'}</span></h5>
                                                    <div>
                                                        <ul>
                                                            <li>From album : ${r.album.title}</li>
                                                        </ul>
                                                    </div>
                                                    <button class="btnImport btn btn-primary" data-type="track" data-id="${r.id}">Import Track</button>
                                                </div>
                                            </div>
                                        </div>
                    `;
                }
                else if (r.type === 'artist') {
                    div.innerHTML = `
                                        <div class="myCard">
                                            <div class="card m-2">
                                                <img src="${r.picture_medium}" class="card-img-top">
                                                <div class="card-body">
                                                    <h5>${r.name} - ${r.nb_album} album${r.nb_album > 1 ? 's' : ''}</h5>
                                                    <div>
                                                        <ul>
                                                            <li>${r.nb_fan} fans</li>
                                                        </ul>
                                                    </div>
                                                    <button class="btnImport btn btn-primary" data-type="artist" data-id="${r.id}" title="This action will import [${r.name}] into your monitored artists.">Import Artist</button>
                                                </div>
                                            </div>
                                        </div>
                    `;
                }
                else if (r.type === 'album') {
                    div.innerHTML = `
                                        <div class="myCard">
                                            <div class="card m-2">
                                                <img src="${r.cover_medium}" class="card-img-top">
                                                <div class="card-body">
                                                    <h5>${r.artist.name} - ${r.title} (${r.record_type})</h5>
                                                    <div>
                                                        <ul>
                                                            <li>${r.nb_tracks} track${r.nb_tracks > 1 ? 's' : ''}</li>
                                                            <li>Is explicit ? <span class="badge badge-${r.explicit_lyrics ? 'success' : 'danger'}">${r.explicit_lyrics ? 'YES' : 'NO'}</span></li>
                                                        </ul>
                                                    </div>
                                                    <button class="btnImport btn btn-primary" data-type="album" data-id="${r.id}">Import Artist</button>
                                                </div>
                                            </div>
                                        </div>
                    `;
                }
                else if (r.type === 'playlist') {
                    div.innerHTML = `
                                        <div class="myCard">
                                            <div class="card m-2">
                                                <img src="${r.picture_medium}" class="card-img-top">
                                                <div class="card-body">
                                                    <h5>${r.title}</h5>
                                                    <div>
                                                        <ul>
                                                            <li>${r.nb_tracks} track${r.nb_tracks > 1 ? 's' : ''}</li>
                                                            <li>Is explicit ? <span class="badge badge-${r.explicit_lyrics ? 'success' : 'danger'}">${r.explicit_lyrics ? 'YES' : 'NO'}</span></li>
                                                            <li>Is public ? <span class="badge badge-${r.public ? 'success' : 'danger'}">${r.public ? 'YES' : 'NO'}</span></li>
                                                            <li>Created at ${r.creation_date}</li>
                                                            <li>Created by ${r.user.name}</li>
                                                        </ul>
                                                    </div>
                                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#playlist-${r.id}" title="This action will import all artists contained in this playlist into your monitored artists.">Import Artists from Playlist</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="playlist-${r.id}" tabindex="-1" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title">Import artists of playlist {r.title} options</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                Do you want to import main artist of each track or main artist and contributors of each track ?
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-type="playlist" data-id="${r.id}" data-bs-dismiss="modal" id="mainArtistOnly-${r.id}">Main artist only</button>
                                                <button type="button" class="btn btn-primary" data-type="playlist" data-id="${r.id}"  data-bs-dismiss="modal" id="artistAndContributors-${r.id}">Main artist & contributors</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                    `;
                }
                resultContainer.appendChild(div);
                if (r.type === 'playlist') {
                    const mainArtistOnly = document.querySelector(`#mainArtistOnly-${r.id}`);
                    const artistAndContributors = document.querySelector(`#artistAndContributors-${r.id}`);
                    mainArtistOnly.addEventListener('click', (e) =>
                    {
                        const el = e.currentTarget;
                        const type = el.getAttribute('data-type');
                        const id = el.getAttribute('data-id');
                        fetch(`${window.origin}/api/${type}/${id}?importOpt=mainArtistOnly`).then(response => {});
                    });
                    artistAndContributors.addEventListener('click', (e) =>
                    {
                        const el = e.currentTarget;
                        const type = el.getAttribute('data-type');
                        const id = el.getAttribute('data-id');
                        fetch(`${window.origin}/api/${type}/${id}?importOpt=artistAndContributors`).then(response => {});
                    });
                }
            });
            const btnsImport = resultContainer.querySelectorAll('.btnImport');

            /*cardTitle.textContent = r.type === 'artist' ? r.name : r.artist.name + ' - ' + (r.title ?? r.name);
            cardDesc.textContent = finalDesc;
            cardImg.src = r.picture_medium ?? r.cover_medium ?? r.album.cover_medium ?? r.artist.cover_medium;
            btnImport.textContent = `Import ${r.type}`;
            btnImport.setAttribute('data-type', r.type ?? 'unknow');
            btnImport.setAttribute('data-id', r.id ?? '0');*/
            btnsImport.forEach(btn =>
            {
                btn.addEventListener('click', (e) =>
                {
                    const el = e.currentTarget;
                    const type = el.getAttribute('data-type');
                    const id = el.getAttribute('data-id');
                    fetch(`${window.origin}/api/${type}/${id}`).then(response => {});
                });
            });
        };

        searchQueryEl.addEventListener('keyup', (e) =>
        {
            if (e.key === 'Enter' || e.keyCode === 13) {
                search();
            }
        });
        searchQueryEl.addEventListener('keyup', (e) =>
        {
            searchQuery = e.currentTarget.value;
        });
        searchBtnEl.addEventListener('click', search);
        searchTypeEl.addEventListener('change', (e) =>
        {
            searchType = e.currentTarget.value;
        });
    </script>
{% endblock %}